<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CategoryMapper">

   <!--自定义封装 column->数据库绑定字段  property->实体对应的关系  -->
   <resultMap id="categoryMap" type="com.xuecheng.framework.domain.course.ext.CategoryNode">
      <id column="one_id" property="id"></id>
      <result column="one_name" property="name"></result>
      <result column="one_label" property="label"></result>
      <result column="one_isleaf" property="isleaf"></result>
      <result column="one_isshow" property="isshow"></result>
      <result column="one_orderby" property="orderby"></result>
      <result column="one_parentid" property="parentid"></result>
      <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
         <id column="two_id" property="id"></id>
         <result column="two_name" property="name"></result>
         <result column="two_label" property="label"></result>
         <result column="two_isleaf" property="isleaf"></result>
         <result column="two_isshow" property="isshow"></result>
         <result column="two_orderby" property="orderby"></result>
         <result column="two_parentid" property="parentid"></result>
         <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
            <id column="three_id" property="id"></id>
            <result column="three_name" property="name"></result>
            <result column="three_label" property="label"></result>
            <result column="three_isleaf" property="isleaf"></result>
            <result column="three_isshow" property="isshow"></result>
            <result column="three_orderby" property="orderby"></result>
            <result column="three_parentid" property="parentid"></result>
         </collection>
      </collection>
   </resultMap>
   <!--public CategoryNode selectList();-->
   <select id="selectList" resultMap="categoryMap">
      SELECT
      a.id       AS one_id,
      a.name     AS one_name,
      a.label    AS one_label,
      a.isleaf   AS one_isleaf,
      a.isshow   AS one_isshow,
      a.orderby AS one_orderby,
      a.parentid AS one_parentid,
      b.id       AS two_id,
      b.name     AS two_name,
      b.label    AS two_label,
      b.isleaf   AS two_isleaf,
      b.isshow   AS two_isshow,
      b.orderby AS two_orderby,
      b.parentid AS two_parentid,
      c.id       AS three_id,
      c.name     AS three_name,
      c.label    AS three_label,
      c.isleaf   AS three_isleaf,
      c.isshow   AS three_isshow,
      c.orderby AS three_orderby,
      c.parentid AS three_parentid
      FROM category a
      LEFT JOIN category b
      ON a.id = b.parentid
      LEFT JOIN category c
      ON b.id = c.parentid
      WHERE a.parentid = '0'
      ORDER BY a.orderby,b.orderby,c.orderby
   </select>


</mapper>